
@{
    ViewData["Title"] = "About";
}



<div class="container mt-5">
    <h2>À propos de moi</h2>
    <p>
        Développeur spécialisé en C# et ASP.NET Core avec une formation en systèmes et réseaux.
        Passionné par la création d'applications web modernes et performantes.
    </p>
</div>